<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to Telvin's Fact Page</h1>
    <form action="/facts" method="POST" >
        <div>
            <label for="category">
                Category
            </label>
            <input type="text" name="category" id="category" placeholder="Name a category">
        </div>
       <div>
           <label for="content">Content</label>
        <textarea name="content" id="content" cols="30" rows="10"></textarea>
       </div>
 
       <div>
           <label for="author">Author</label>
        <input type="text" name="author" id="author">
       </div>

        <button type="submit" name="submit">Submit</button>
    </form>
</body>
</html>